{{define "footer"}}
	{{if .EmptyFooter}}
		<footer>
		</footer>
	{{else}}
		<footer>
			<hr />
			<nav>
				<a class="home" href="/">{{.SiteName}}</a>
				<a href="https://writefreely.org/guide/{{.OfficialVersion}}" target="guide">writer's guide</a>
				<a href="https://developers.write.as/" title="Build on WriteFreely with our open developer API.">developers</a>
				<a href="https://github.com/writefreely/writefreely">source code</a>
				<a href="https://writefreely.org">writefreely {{.Version}}</a>
			</nav>
		</footer>
	{{end}}
{{end}}

{{define "footer-branding"}}
	{{ if .ShowFooterBranding }}
		<footer dir="ltr">
			<hr>
			<nav>
				<p style="font-size: 0.9em"><a class="home pubd" href="/">{{.SiteName}}</a> &middot; {{localstr "powered by" .MainLanguage}} <a style="margin-left:0" href="https://writefreely.org">writefreely</a></p>
			</nav>
		</footer>
	{{ end }}
{{end}}
