{{define "oauth-buttons"}}
    {{ if or .WriteAsEnabled .GenericEnabled }}
        <div class="row content-container signinbtns">
            {{ if .WriteAsEnabled }}
                <a class="btn cta loginbtn" id="writeas-login" href="/oauth/write.as">
                    <img src="/img/mark/writeas-white.png" />
                    Sign in with <strong>Write.as</strong>
                </a>
            {{ end }}
            {{ if .GenericEnabled }}
                <a class="btn cta loginbtn" id="generic-oauth-login" href="/oauth/generic">Sign in with <strong>{{.GenericDisplayName}}</strong></a>
            {{ end }}
        </div>

        {{if not .DisablePasswordAuth}}
            <div class="or">
                <p>or</p>
                <hr class="short" />
            </div>
        {{end}}
    {{ end }}
{{end}}
