/* http://localhost:9307/a-ytv9/implementing-notion-like-table-of-contents-in-javascript.html */
/* ORIGINAL AUTHOR: Krzysztof Kowalczyk
 *             URL: https://gist.github.com/kjk/d9343c3f45d9f529b2b8156048254840
 */

.toc-wrapper {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    z-index: 50;

    max-height: calc(100vh - 2rem);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #d3d3d3;
        border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: #fafafa;
    }
}
.toc-mini {
    display: flex;
    flex-direction: column;
    font-size: 6pt;
    cursor: pointer;
}
body#pad.dark .toc-list {
    background-color: #393939;
    opacity: 0.9;
}
body#pad.light .toc-list {
    background-color: #fff;
    opacity: 0.9;
}
body#pad.dark .toc-item {
    &:hover {
        background-color: #555;
    }
}
body#pad.light .toc-item {
    &:hover {
        background-color: #efefef;
    }
}
.toc-list {
    display: none;
    flex-direction: column;
    font-size: 10pt;
    font-family: sans-serif;
    line-height: 1.5;
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;

    padding: 12px 12px;
    /* margin-right: 10px; */
    background-color: white;
    box-shadow:
    rgba(15, 15, 15, 0.04) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.03) 0px 3px 6px,
    rgba(15, 15, 15, 0.06) 0px 9px 24px;
    border: 1px solid rgba(55, 53, 47, 0.26);
    border-radius: 8px;
}
.toc-trunc {
    max-width: 40ch;
    min-width: 12ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.toc-wrapper:hover > .toc-mini {
    display: none;
}
.toc-wrapper:hover > .toc-list {
    display: flex;
}
.toc-item {
    cursor: pointer;

    &:hover {
        background-color: #efefef;
    }
}
.toc-bold {
    font-weight: bold;
}
.toc-light {
    color: lightgray;
}
.toc-ind-0 {
    padding-left: 0em;
}
.toc-ind-1 {
    padding-left: 1em;
}
.toc-ind-2 {
    padding-left: 2em;
}
.toc-ind-3 {
    padding-left: 3em;
}
.toc-ind-4 {
    padding-left: 4em;
}
.toc-ind-5 {
    padding-left: 5em;
}
.toc-ind-6 {
    padding-left: 6em;
}
