{{define "head"}}<title>{{localstr "Page not found" .MainLanguage}} &mdash; {{.SiteName}}</title>{{end}}
{{define "content"}}
		<div class="error-page">
			<p class="msg">{{localstr "Page not found" .MainLanguage}}.</p>
		</div>
{{end}}
