{{define "head"}}
<title>{{.SiteName}}</title>

<style type="text/css">
h2 {
	font-weight: normal;
}
tr.subscription {
	border-spacing: 0;
}
#btn-create {
	color: white !important;
}
#total-price {
	padding-left: 0.5em;
}
#alias-site.demo {
	color: #999;
}
#alias-site {
	text-align: left;
	margin: 0.5em 0;
}
form dd {
	margin: 0;
}
.banner-container {
	text-align: left;
}
.banner-container h1 {
	margin-top: 0;
	max-width: 8em;
}
.or {
	margin-bottom: 2.5em !important;
}
</style>
{{end}}

{{define "content"}}
{{ if .Content }}
<div class="content-container snug">
	{{.Content}}
</div>
{{ end }}

<script type="text/javascript" src="/js/h.js"></script>
<script type="text/javascript">
var $alias = H.getEl('alias');
var $aliasSite = document.getElementById('alias-site');
var aliasOK = true;
var typingTimer;
var doneTypingInterval = 750;
var doneTyping = function() {
	// Check on username
	var alias = $alias.el.value;
	if (alias != "") {
		var params = {
			username: alias
		};
		var http = new XMLHttpRequest();
		http.open("POST", '/api/alias', true);

		// Send the proper header information along with the request
		http.setRequestHeader("Content-type", "application/json");

		http.onreadystatechange = function() {
			if (http.readyState == 4) {
				data = JSON.parse(http.responseText);
				if (http.status == 200) {
					aliasOK = true;
					$alias.removeClass('error');
					$aliasSite.className = $aliasSite.className.replace(/(?:^|\s)demo(?!\S)/g, '');
					$aliasSite.className = $aliasSite.className.replace(/(?:^|\s)error(?!\S)/g, '');
					$aliasSite.innerHTML = '{{ if .Federation }}@<strong>' + data.data + '</strong>@{{.FriendlyHost}}{{ else }}{{.FriendlyHost}}/<strong>' + data.data + '</strong>/{{ end }}';
				} else {
					aliasOK = false;
					$alias.setClass('error');
					$aliasSite.className = 'error';
					$aliasSite.textContent = data.error_msg;
				}
			}
		}
		http.send(JSON.stringify(params));
	} else {
		$aliasSite.className += ' demo';
		$aliasSite.innerHTML = '{{ if .Federation }}@<strong>your-username</strong>@{{.FriendlyHost}}{{ else }}{{.FriendlyHost}}/<strong>your-username</strong>/{{ end }}';
	}
};
$alias.on('keyup input', function() {
	clearTimeout(typingTimer);
	typingTimer = setTimeout(doneTyping, doneTypingInterval);
});
</script>

{{end}}
