{{define "base"}}<!DOCTYPE HTML>
<html>
	<head>
		{{ template "head" . }}
		<link rel="stylesheet" type="text/css" href="/css/{{.Theme}}.css" />
		{{if .CustomCSS}}<link rel="stylesheet" type="text/css" href="/local/custom.css" />{{end}}
		<link rel="shortcut icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="application-name" content="{{.SiteName}}">
		<meta name="application-url" content="{{.Host}}">
		<meta property="og:site_name" content="{{.SiteName}}" />
	</head>
	<body {{template "body-attrs" .}}>
		<div id="overlay"></div>
		<header>
			<h2><a href="/">{{.SiteName}}</a></h2>
		</header>

		<div id="official-writing">
			{{ template "content" . }}
		</div>

		{{ template "footer" . }}
		
		{{if not .JSDisabled}}
		<script type="text/javascript" src="/js/menu.js"></script>
		<script type="text/javascript">
		{{template "webfonts" .}}
		</script>
		{{else}}
		{{if .WebFonts}}<link href="/css/fonts.css" rel="stylesheet" type="text/css" />{{end}}
		{{end}}
	</body>
</html>{{end}}
{{define "body-attrs"}}{{end}}
