{{define "collection"}}<!DOCTYPE HTML>
<html {{if .Language}}lang="{{.Language}}"{{end}} dir="{{.Direction}}">
	<head>
		<meta charset="utf-8">

		<title>{{.DisplayTitle}}</title>
		<meta name="title" content="{{.DisplayTitle}}">

		<link rel="stylesheet" type="text/css" href="/css/write.css" />
		<link rel="stylesheet" type="text/css" href="/css/toc.css" />
		{{if .CustomCSS}}<link rel="stylesheet" type="text/css" href="/local/custom.css" />{{end}}
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="canonical" href="{{.CanonicalURL}}">
		{{if gt .CurrentPage 1}}<link rel="prev" href="{{.PrevPageURL .Prefix .NavSuffix .CurrentPage .IsTopLevel}}">{{end}}
		{{if lt .CurrentPage .TotalPages}}<link rel="next" href="{{.NextPageURL .Prefix .NavSuffix .CurrentPage .IsTopLevel}}">{{end}}
		{{if not .IsPrivate}}<link rel="alternate" type="application/rss+xml" title="{{.DisplayTitle}} &raquo; Feed" href="{{.CanonicalURL}}feed/" />{{end}}
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="generator" content="WriteFreely">
		<meta name="description" content="{{.PlainDescription}}">
		<meta itemprop="name" content="{{.DisplayTitle}}">
		<meta itemprop="description" content="{{.PlainDescription}}">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{{.DisplayTitle}}">
		<meta name="twitter:image" content="{{.AvatarURL}}">
		<meta name="twitter:description" content="{{.PlainDescription}}">

		<meta property="og:title" content="{{.DisplayTitle}}" />
		<meta property="og:site_name" content="{{.DisplayTitle}}" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{{.CanonicalURL}}" />
		<meta property="og:description" content="{{.PlainDescription}}" />
		<meta property="og:image" content="{{.AvatarURL}}">
		{{template "collection-meta" .}}
		{{if .StyleSheet}}<style type="text/css">{{.StyleSheetDisplay}}</style>{{end}}

		{{if .RenderMathJax}}
		  <!-- Add mathjax logic -->
		  {{template "mathjax" .}}
		{{end}}

		<!-- Add highlighting logic -->
		{{template "highlighting" . }}

	</head>
	<body id="collection" itemscope itemtype="http://schema.org/WebPage">
	{{if not .NoMenu}}
		<nav id="manage"><ul>
			<li class="has-submenu"><a onclick="void(0)">&#9776; Menu</a>
				<ul>
					{{ if .IsOwner }}
						<li><a href="/me/new">New Post</a></li>
						{{if .SimpleNav}}<li><a href="/new#{{.Alias}}">New Post</a></li>{{end}}
						<li><a href="/me/c/{{.Alias}}">Customize</a></li>
						<li><a href="/me/c/{{.Alias}}/stats">Stats</a></li>
						<li><a href="/me/c/{{.Alias}}/subscribers">Subscribers</a></li>
						<li class="separator"><hr /></li>
						<li><a href="/me/posts/"><img class="ic-18dp" src="/img/ic_list_dark@2x.png" /> View Drafts</a></li>
					{{ else }}
						<li><a href="/login">Log in{{if .IsProtected}} to {{.DisplayTitle}}{{end}}</a></li>
						{{if .IsProtected}}
							<li class="separator"><hr /></li>
							<li><a href="/logout">Log out</a></li>
						{{end}}
					{{ end }}
				</ul>
			</li>
		</ul></nav>
	{{end}}

		<header>
		<h1 dir="{{.Direction}}" id="blog-title">{{if .Posts}}{{else}}<span class="writeas-prefix"><a href="/">write.as</a></span> {{end}}<a href="/{{if .IsTopLevel}}{{else}}{{.Prefix}}{{.Alias}}/{{end}}" class="h-card p-author u-url" rel="me author">{{.DisplayTitle}}</a></h1>
		{{if .Description}}<p class="description p-note">{{.DisplayDescription}}</p>{{end}}
		{{/*if not .Public/*}}
			<!--p class="meta-note"><span>Private collection</span>. Only you can see this page.</p-->
		{{/*end*/}}
		<nav>
		{{template "pinned" .}}
		</nav>
		</header>

		{{if .Silenced}}
			{{template "user-silenced"}}
		{{end}}
		{{if .Posts}}<section id="wrapper" itemscope itemtype="http://schema.org/Blog">{{else}}<div id="wrapper">{{end}}

			{{if .IsWelcome}}
			<div id="welcome">
				<h2>Welcome, <strong>{{.Username}}</strong>!</h2>
				<p>This is your new blog.</p>
				<p><a class="simple-cta" href="/#{{.Alias}}">Start writing</a>, or <a class="simple-cta" href="/me/c/{{.Alias}}">customize</a> your blog.</p>
				<p>Check out our <a class="simple-cta" href="https://writefreely.org/docs/latest/writer/writing">writing guide</a> to see what else you can do, and <a class="simple-cta" href="/contact">get in touch</a> anytime with questions or feedback.</p>
			</div>
			{{end}}

			{{if .Flash}}
				<div class="alert success flash">
					<p>{{.Flash}}</p>
				</div>
			{{end}}

			{{template "posts" .}}

		{{template "paging" .}}

		{{if .Posts}}</section>{{else}}</div>{{end}}

                {{template "footer-branding" .}}
	</body>

	{{template "canshowscript" .}}
	<script src="/js/localdate.js"></script>
	{{if .IsOwner}}
	<script src="/js/h.js"></script>
	<script src="/js/postactions.js"></script>
	{{end}}
	<script type="text/javascript" src="/js/menu.js"></script>
	<script type="text/javascript" src="/js/toc.js"></script>
	<script type="text/javascript">
	let extraItems = [];
	let elNext = document.getElementById("next-page");
	let elPrev = document.getElementById("prev-page");
	if (elNext != null) {
		let item = new TocItem(elNext.text, 0, 0, elNext);
		extraItems.push(item);
	}
	if (elPrev != null) {
		let item = new TocItem(elPrev.text, 0, 0, elPrev);
		extraItems.push(item);
	}
	document.addEventListener("DOMContentLoaded",
                initToc("#blog-title,.post-title", "", extraItems));

{{if .IsOwner}}
{{template "delete_action" .}}
{{template "pin_action" .}}
{{end}}

	{{template "webfonts" .}}
	</script>
</html>{{end}}
