{{define "collection"}}<!DOCTYPE HTML>
<html lang="{{if .Language}}{{.Language}}{{else}}{{.MainLanguage}}{{end}}" dir="{{.Direction}}">
	<head>
		<meta charset="utf-8">

		<title>{{localstr "Search results" .MainLanguage}} &mdash; {{.DisplayTitle}}{{if not .SingleUser}} &mdash; {{.SiteName}}{{end}}</title>
		<meta name="title" content="{{localstr "Search results" .MainLanguage}} &mdash; {{.DisplayTitle}}{{if not .SingleUser}} &mdash; {{.SiteName}}{{end}}">

		<link rel="stylesheet" type="text/css" href="/css/write.css" />
		<link rel="stylesheet" type="text/css" href="/css/toc.css" />
		{{if .CustomCSS}}<link rel="stylesheet" type="text/css" href="/local/custom.css" />{{end}}
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="canonical" href="{{.CanonicalURL}}">
		{{if gt .CurrentPage 1}}<link rel="prev" href="{{.PrevPageURL .Prefix .NavSuffix .CurrentPage .IsTopLevel}}">{{end}}
		{{if lt .CurrentPage .TotalPages}}<link rel="next" href="{{.NextPageURL .Prefix .NavSuffix .CurrentPage .IsTopLevel}}">{{end}}
		{{if not .IsPrivate}}<link rel="alternate" type="application/rss+xml" title="{{.DisplayTitle}} &raquo; Feed" href="{{.CanonicalURL}}feed/" />{{end}}
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="generator" content="WriteFreely">
		<meta name="description" content="{{.PlainDescription}}">
		<meta itemprop="name" content="{{.DisplayTitle}}">
		<meta itemprop="description" content="{{.PlainDescription}}">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{{.DisplayTitle}}">
		<meta name="twitter:image" content="{{.AvatarURL}}">
		<meta name="twitter:description" content="{{.PlainDescription}}">

		<meta property="og:title" content="{{.DisplayTitle}}" />
		<meta property="og:site_name" content="{{.DisplayTitle}}" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{{.CanonicalURL}}" />
		<meta property="og:description" content="{{.PlainDescription}}" />
		<meta property="og:image" content="{{.AvatarURL}}">
		{{template "collection-meta" .}}
		{{if .StyleSheet}}<style type="text/css">{{.StyleSheetDisplay}}</style>{{end}}

		{{if .RenderMathJax}}
		  <!-- Add mathjax logic -->
		  {{template "mathjax" .}}
		{{end}}

		<!-- Add highlighting logic -->
		{{template "highlighting" . }}

	</head>
	<body id="collection" itemscope itemtype="http://schema.org/WebPage">
	{{if not .NoMenu}}
		{{if or .IsOwner .SingleUser}}
			<nav id="manage"><ul>
				<li class="has-submenu"><a onclick="void(0)">&#9776; Menu</a>
					<ul>
						{{ if .IsOwner }}
							{{if .SingleUser}}
							<li><a href="/me/new">New Post</a></li>
							{{else}}
							<li><a href="/#{{.Alias}}" class="write">{{.SiteName}}</a></li>
							{{end}}
							{{if .SimpleNav}}<li><a href="/new#{{.Alias}}">New Post</a></li>{{end}}
							<li><a href="/me/c/{{.Alias}}">Customize</a></li>
							<li><a href="/me/c/{{.Alias}}/stats">Stats</a></li>
							<li><a href="/me/c/{{.Alias}}/subscribers">Subscribers</a></li>
							<li class="separator"><hr /></li>
							{{if not .SingleUser}}<li><a href="/me/c/"><img class="ic-18dp" src="/img/ic_blogs_dark@2x.png" /> View Blogs</a></li>{{end}}
							<li><a href="/me/posts/"><img class="ic-18dp" src="/img/ic_list_dark@2x.png" /> View Drafts</a></li>
						{{ else }}
							<li><a href="/login">Log in{{if .IsProtected}} to {{.DisplayTitle}}{{end}}</a></li>
							{{if .IsProtected}}
								<li class="separator"><hr /></li>
								<li><a href="/logout">Log out</a></li>
							{{end}}
						{{ end }}
					</ul>
				</li>
			</ul></nav>
		{{else if .IsCollLoggedIn}}
			<nav id="manage" class="shiny"><ul>
				<li class="has-submenu"><a onclick="void(0)">&#9776; Menu</a>
					<ul>
						<li class="menu-heading" style="padding: .5rem .75rem; box-sizing: border-box;">{{.DisplayTitle}}</li>
						<li><a href="{{.CanonicalURL}}logout">Log out</a></li>
					</ul>
				</li>
			</ul></nav>
		{{end}}
	{{end}}

		<header>
		<h1 dir="{{.Direction}}" id="blog-title">{{if .Posts}}{{else}}<span class="writeas-prefix"><a href="/">write.as</a></span> {{end}}<a href="/{{if .IsTopLevel}}{{else}}{{.Prefix}}{{.Alias}}/{{end}}" class="h-card p-author u-url" rel="me author">{{.DisplayTitle}}</a></h1>
		{{if .Description}}<p class="description p-note">{{.DisplayDescription}}</p>{{end}}
		{{/*if not .Public/*}}
			<!--p class="meta-note"><span>Private collection</span>. Only you can see this page.</p-->
		{{/*end*/}}
		<nav>
		{{template "pinned-custom" .}}
		{{if .PinnedPosts}}
			{{range .PinnedPosts}}<a class="pinned" href="{{if not $.SingleUser}}/{{$.Alias}}/{{.Slug.String}}{{else}}{{.CanonicalURL $.Host}}{{end}}">{{.PlainDisplayTitle}}</a>{{end}}
		{{end}}
		</nav>

                {{if .Tag}}
                <div class="results" {{if eq .TotalPosts 0}}style="display: none;"{{end}}>
                    <p>{{.TotalPosts}} {{localstr (pluralize "result" "results" .TotalPosts) .MainLanguage}}</p>
                </div>
                {{end}}
		</header>

		{{if .Silenced}}
			{{template "user-silenced"}}
		{{end}}
		{{if .Posts}}<section id="wrapper" itemscope itemtype="http://schema.org/Blog">{{else}}<div id="wrapper">{{end}}

			{{if .Flash}}
				<div class="alert success flash">
					<p>{{.Flash}}</p>
				</div>
			{{end}}

			{{template "posts" .}}

		{{template "paging" .}}

		{{if .Posts}}</section>{{else}}</div>{{end}}

                {{template "footer-branding" .}}
	</body>

	{{template "canshowscript" .}}
	<script src="/js/localdate.js"></script>
	{{if .IsOwner}}
	<script src="/js/h.js"></script>
	<script src="/js/postactions.js"></script>
	{{end}}
	<script type="text/javascript" src="/js/menu.js"></script>
	<script type="text/javascript" src="/js/toc.js"></script>
	<script type="text/javascript">
	let extraItems = [];
	let elNext = document.getElementById("next-page");
	let elPrev = document.getElementById("prev-page");
	if (elNext != null) {
		let item = new TocItem(elNext.text, 0, 0, elNext);
		extraItems.push(item);
	}
	if (elPrev != null) {
		let item = new TocItem(elPrev.text, 0, 0, elPrev);
		extraItems.push(item);
	}
	document.addEventListener("DOMContentLoaded",
                initToc("#blog-title,.post-title", "", extraItems));

{{if .IsOwner}}
{{template "delete_action" .}}
{{template "pin_action" .}}
{{end}}

	{{template "webfonts" .}}
	</script>
</html>{{end}}
