{{define "collection"}}<!DOCTYPE HTML>
<html lang="{{.MainLanguage}}" dir="{{.Direction}}">
	<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
		<meta charset="utf-8">

		<title>{{.Tag}} &mdash; {{.Collection.DisplayTitle}}</title>
		<meta name="title" content="{{.Tag}} &mdash; {{.Collection.DisplayTitle}}">
		
		<link rel="stylesheet" type="text/css" href="/css/write.css" />
		{{if .CustomCSS}}<link rel="stylesheet" type="text/css" href="/local/custom.css" />{{end}}
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="canonical" href="{{.CanonicalURL}}tag:{{.Tag | tolower}}" />
                {{if gt .CurrentPage 1}}<link rel="prev" href="{{.PrevPageURL .Prefix .NavSuffix .CurrentPage .IsTopLevel}}">{{end}}
                {{if lt .CurrentPage .TotalPages}}<link rel="next" href="{{.NextPageURL .Prefix .NavSuffix .CurrentPage .IsTopLevel}}">{{end}}
		{{if not .Collection.IsPrivate}}<link rel="alternate" type="application/rss+xml" title="{{.Tag}} posts on {{.DisplayTitle}}" href="{{.CanonicalURL}}tag:{{.Tag}}/feed/" />{{end}}
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="generator" content="WriteFreely">
		<meta name="description" content="{{.Tag}} posts on {{.Collection.DisplayTitle}}">
		<meta itemprop="name" content="{{.Collection.DisplayTitle}}">
		<meta itemprop="description" content="{{.Tag}} posts on {{.Collection.DisplayTitle}}">

		{{if gt .Views 1}}<meta name="twitter:label1" value="Views">
		<meta name="twitter:data1" value="{{largeNumFmt .Views}}">{{end}}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{{.Tag}} &mdash; {{.Collection.DisplayTitle}}">
		<meta name="twitter:image" content="{{.Collection.AvatarURL}}">
		<meta name="twitter:description" content="{{.Tag}} posts on {{.Collection.DisplayTitle}}">

		<meta property="og:title" content="{{.Tag}} &mdash; {{.Collection.DisplayTitle}}" />
		<meta property="og:site_name" content="{{.DisplayTitle}}" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{{.CanonicalURL}}tag:{{.Tag}}" />
		<meta property="og:description" content="{{.Tag}} posts on {{.Collection.DisplayTitle}}">
		<meta property="og:image" content="{{.Collection.AvatarURL}}">
		{{template "collection-meta" .}}
		{{if .Collection.StyleSheet}}<style type="text/css">{{.Collection.StyleSheetDisplay}}</style>{{end}}

		{{if .Collection.RenderMathJax}}
		  <!-- Add mathjax logic -->
		  {{template "mathjax" .}}
		{{end}}

		<!-- Add highlighting logic -->
		{{template "highlighting" . }}

	</head>
	<body id="subpage">
		
		<div id="overlay"></div>

		<header>
		<h1 dir="{{.Direction}}" id="blog-title"><a href="{{if .IsTopLevel}}/{{else}}/{{.Collection.Alias}}/{{end}}" class="h-card p-author">{{.Collection.DisplayTitle}}</a></h1>
		<nav>
		{{template "pinned-custom" .}}
		{{if .PinnedPosts}}
			{{range .PinnedPosts}}<a class="pinned" href="{{if not $.SingleUser}}/{{$.Collection.Alias}}/{{.Slug.String}}{{else}}{{.CanonicalURL $.Host}}{{end}}">{{.DisplayTitle}}</a>{{end}}
		{{end}}
		</nav>
		</header>
		
		{{if .Silenced}}
			{{template "user-silenced"}}
		{{end}}
		{{if .Posts}}<section id="wrapper" itemscope itemtype="http://schema.org/Blog">{{else}}<div id="wrapper">{{end}}
			<h1>&num;{{.Tag}}</h1>
			{{template "posts" .}}

		{{template "paging" .}}

		{{if .Posts}}</section>{{else}}</div>{{end}}

                {{template "footer-branding" .}}
	</body>

	{{template "canshowscript" .}}
	<script src="/js/localdate.js"></script>
	{{if .IsOwner}}
	<script src="/js/h.js"></script>
	<script src="/js/postactions.js"></script>
	{{end}}
	<script type="text/javascript">
{{if .IsOwner}}
{{template "delete_action" .}}
{{template "pin_action" .}}
{{end}}

	{{template "webfonts" .}}
	</script>
</html>{{end}}
