{{define "collections"}}
{{template "header" .}}

<div class="snug content-container">

{{if .Flashes}}<ul class="errors">
	{{range .Flashes}}<li class="urgent">{{.}}</li>{{end}}
</ul>{{end}}

{{if .Silenced}}
	{{template "user-silenced"}}
{{end}}
<h1>Blogs</h1>
<ul class="atoms collections">
	{{range $i, $el := .Collections}}<li class="collection">
		<div class="row lineitem">
			<div>
				<h3>
					<a class="title" href="/{{.Alias}}/" >{{if .Title}}{{.Title}}{{else}}{{.Alias}}{{end}}</a>
					<span class="electron" {{if .IsPrivate}}style="font-style: italic"{{end}}>{{if .IsPrivate}}private{{else}}{{.DisplayCanonicalURL}}{{end}}</span>
				</h3>
				{{template "collection-nav" (dict "Alias" .Alias "Path" $.Path "SingleUser" $.SingleUser "CanPost" true	)}}
				{{if .Description}}<p class="description">{{.Description}}</p>{{end}}
			</div>
		</div>
	</li>{{end}}
</ul>

</div>

{{template "foot" .}}
{{template "body-end" .}}
{{end}}
